*{
	margin: 0;
	padding: 0;
}

/*Top header starts*/
.header{
	width: 100%;
	margin-top: 12px;
	margin-bottom: 12px;
}
.container{
	width: 1140px;
	margin: auto;
}
.nav{
	display: flex;
	justify-content:space-between;
}
.logo{
	width: 100px;
}
.menu ul li{
	list-style: none;
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	line-height: 110px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #1e266d;
	font-weight: 500;
}
.menu-button{
	margin-top: 40px;
	margin-bottom: : 40px;
}
.menu-button button{
	background-color: #2e367d;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
}
.menu-button button:hover{
	background-color: #00AEEF;
}
/*Top header ends here*/

/*About content starts here*/


.about{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40px;
}

.about-contenttop h2{
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #1e266d;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 25px;
}

.about-contenttop p{
	font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}
.about-contentbottom h2{
	font-size: 28px;
    line-height: 36px;
    font-weight: 700;
    color: #1e266d;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
}

.about-contentbottom p{
	font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
}



/*About content ends here*/

/*Address content starts here*/

.addresscontent{

    background-color: #2e367d;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
    padding-right: 104px;
    border-radius: 8px;
}
.addresscontent{
	 display: flex; 
}


.leftcontent{
	flex-basis: 50%;
}

.rightcontent{
	flex-basis: 50%;
}
.leftcontent h3, .rightcontent h3{
	font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
    line-height: 28px;
    font-weight: 700;
    color: white;
    font-size: 24px;
}

.leftcontent p, .rightcontent p{
	color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
    margin-bottom: 10px;

}

/*Address content ends here*/

/*Bottom starts here*/


.bottom{
	width: 100%;
	margin-top: 40px;
	margin-bottom: 40;
}

.bottom-content{
	display: flex;	
	padding-right: 30px;
	padding-left: 30px;
}
.bottomone,.bottomtwo, .bottomthree, .bottomfour{
	flex-basis: 25%;
}

.bottomone  h5{
	color: #1e266d;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}
.bottomone p{
	color: #91a3bb;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.9;
}
.bottomtwo h5{
	color: #1e266d;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}
.bottomtwo p{
	color: #91a3bb;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.9;
}

.bottomthree h5{
	color: #1e266d;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}
.bottomthree ul li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #91a3bb;
    line-height: 1.9;
}

.bottomfour h5{
	color: #1e266d;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}

.bottomfour ul li{
	list-style: none;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    color: #91a3bb;
    line-height: 1.9;
}








/*Bottom ends here*/
